<h1><%=@employee.full_name%>'s Page</h1>
<br>
<img src="<%=@employee.img_url%>">
<h3>Alias: <%=@employee.alias%></h3>
<br>
<h3>Title: <%=@employee.title%></h3>
<br>
<h3>Office: <%=@employee.office%></h3>
<br>

